body {
    background-color: aqua;
}

h1 {
    color: blueviolet;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 30px;
}

.whiteBox{
    background-color: white;
    width: 255px;
    height: 238px;
    display: inline-block;
    border: 2px solid rgb(17, 134, 212);
    margin : 5px 20px;
    
   
}

.imgBox {
background: url(puppy.jpg);
width: 245px;
height: 228px;
margin: 3px 5px;
position: relative;
cursor: pointer;
}


.hold {
    border: 2px solid violet;
}


.hide {
    display: none;
}

.dashed{
    background: rgb(214, 206, 206);
    border-style: dashed;
}